@{
    Layout = null;

    <style>

    </style>
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>GetLink</title>
    </head>
    <body bgcolor="#6699ff">
        <div align="center">
            <p style="font-size:30px">Link-ul generat este afișat mai jos. Valabilitatea sa expiră în 2 ore</p><br/><br/>
            
            <p style="font-size:30px; font-weight:bold"><b> @ViewData["LINK"] </b></p>
        </div>
    </body>
</html>
